/*wsui-opacity-text Start*/
.wsui-opacity-element {
  color: #fff;
  font-size: 10px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 20px;
  line-height: 20px;
  display: inline-block;
}

/*wsui-opacity-element End*/
.test-wsui-opacity-element {
  border: 1px solid salmon;
  padding: 2px;
  position: relative;
}

.test-wsui-opacity-element img {
  vertical-align: top;
  width: 100%;
}

.test-wsui-opacity-element .wsui-opacity-element {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 5px 5px 0;
}

.container {
  width: 30%;
  min-width: 320px;
  margin: 50px auto;
}
