@import "../dist/webkit-sassui-opacity-element.scss";
.test-webkit-sassui-opacity-element{
  border:1px solid salmon;
  position: relative;
  img{
    vertical-align: top;
    width: 100%;
  }
  .webkit-sassui-opacity-element{
    position: absolute;
    right:0;
    bottom:0;
    margin: 0 5px 5px 0;
  }
}
