/*webkit-sassui-opacity-text Start*/
$webkit-sassui-opacity-element-options:(
  color:#fff,
  distance: 5px,
  height: 20px,
  z-index: 2
)!default;

.webkit-sassui-opacity-element {
  $color: map-get($map: $webkit-sassui-opacity-element-options, $key: color);
  $distance: map-get($map: $webkit-sassui-opacity-element-options, $key: distance);
  $height: map-get($map: $webkit-sassui-opacity-element-options, $key: height);
  $z-index: map-get($map: $webkit-sassui-opacity-element-options, $key: z-index);

  position: relative;

  > .tip{
    color: $color;
    font-size: 10px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    right: $distance;
    bottom: $distance;
    z-index: $z-index;
    height: $height;
    line-height: $height;
  }
}


/*webkit-sassui-opacity-element End*/
